.blogs{
	z-index: -1;
	width: 100%;
	top:10vh;
	position: absolute;
}

.blog{
	box-shadow: 0px 0px 5px 2px lightgrey;
	width: 70%;
	float: left;
	display: block;
	left: 15%;
	position: relative;
	padding: 5px;
	margin-top: 10px;
	font: Arial, Helvetica, sans-serif;
}